.nav {
    height: 80px;
    padding-right: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.links {
    display: flex;
    align-items: center;
    margin-left: 5%
}

.link {
    color: inherit;
    font-size: 1.2em;
    font-weight: 600;
    padding: 10px
}